<div class="page" data-name="catalog">
    <div class="navbar">
      <div class="navbar-inner sliding">
        <div class="title">Catalog</div>
      </div>
    </div>
    <div class="page-content">
      <div class="block-title">Form Example</div>
      <div class="list links-list">
        <ul>
          products
        </ul>
      </div>
    </div>
</div>